@import "tailwindcss";

@theme {
  --color-coca-red: #F40009;
  --color-coca-black: #000000;
  --color-coca-white: #FFFFFF;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-coca-black);
    color: var(--color-coca-white);
  }
}
